{%for bucket in buckets%}
  output "bucket_{{ loop.index }}" {
    value = "${aws_s3_bucket.bucket_{{ loop.index }}.id}"
    description = "The ID of the bucket."
  }
output "bucket_{{ loop.index }}_bucket" {
    value = "${aws_s3_bucket.bucket_{{ loop.index }}}"
    description = "Entire bucket object."
  }

  output "bucket_{{ loop.index }}_arn" {
    value = "${aws_s3_bucket.bucket_{{ loop.index }}.arn}"
    description = "The ARN of the bucket."
  }
 
  output "bucket_{{ loop.index }}_domain_name" {
    value = "${aws_s3_bucket.bucket_{{ loop.index }}.bucket_domain_name}"
    description = "The bucket domain name."
  }



{%endfor%}