{% for vpc in vpcs %}
resource "aws_vpc" "vpc_{{loop.index}}" {
  {% for key, value in vpc.items() %}
    {% if value is defined %}
      {% if key == 'tags' %}
        tags  = merge({},
          {% for tag in vpc.tags %}
            {
              {{ tag.key }} = "{{ tag.value }}"
            }
            {% if not loop.last %},{% endif %}
          {% endfor %}
        )
      {% else %}
        {{ key }} = {{ value | tojson }}
      {% endif %}
    {% endif %}
  {% endfor %}
}
{% endfor %}
